body{
	margin: 0;
}
.navbar{
	float:right;
	padding:10px 10px 0 0;
	width:100%; height:30px;
}
.navbar img{
	height:20px; width:20px;
}
.nav_link{
	text-decoration: none;
	color:#737373;
	font-family:arial, sans-serif;
	font-size:13px;
	padding-top:5px;
}
.nav_element{
	float:right;
	margin:5px 12px 0 12px;
}
#nav_account{
	float:right;
	margin:0 17px 0 17px;
	height:30px; width: 30px;
	}
#logo{
clear:right;
padding-top: 75px;
width:1280px; height: 180px;
}
#logo img{
	display:block;
	width:275px; height: 100px;	
	margin-left:auto; margin-right:auto;
}
#search_bar{
	width:588px; height:40px;
}
#footer{
	clear:both;
	position: fixed;
	background-color: #F2F2F2;
	height:50px; width:100%;
	margin-top:222px;
}
form input{
	display:block;
	margin-right: auto;
	margin-left: auto;

}